*{
  margin: 0;
  padding: 0;
  transition: 1s;
}

.navbar-brand-image {
   width: 80px;
}

.navbar{
  height: 60px;
}
.hidnavbar {
  opacity: 0;
  height: 0px;
  transition: 1s;
}

.hidnavbar.show {
  opacity: 0.95;
  height: 60px;
  transition: 1s;
}
.navbar.navmsg{
  transition: 1s;
  margin-top: 30px;
}

.intro {
    min-height:500px;
    padding-top:150px;
    background-image: url(../image/background.jpg);
  	background-attachment:fixed;
  	background-size:cover;
  	color:white;
  	text-shadow:2px 2px 10px black;
  	overflow:hidden;
    background-size:no-repeat;
    transition: 1s;
}

.about{
  opacity: 0;
  transition: 2s;
}
.about.show{
  opacity: 1;
  transition: 2s;
}

.about .img-hover{
  transition: 2s;
  overflow: hidden;
  /* max-width: 400px; */
}

.about .img-hover:hover{
  transform: scale(1.2)!important;
  filter: brightness(100%);
  transition: 2s;
}

.preview {
  opacity: 0;
  transition: 2s;
}

.preview.show {
  opacity: 1;
  transition: 2s;
}
.img-small-opacity img {
  width: 45px;
  opacity: 65%;
  overflow: hidden;
}

.hid260{
  opacity: 0;
  transition: 1s;
}

.hid260.show{
  opacity: 1;
  transition: 1s;
}

.color-custom-1{
  background-color:rgba(255, 255, 255, 0.527);
  color: black;
}
.msg{
  margin-top: 0;
  opacity: 0;
  transition: 1s;
  height: 0;
}

.msg.show{
  margin-top: 60px;
  opacity: 1;
  transition: 1s;
  height: 5%;
}

.msg.short{
  margin: 0;
  transition: 1s;
  height: 5%;
}

.msg.warning{
  background-color: #ffc107 !important;
  color: white;
}

.msg.error{
  background-color: #dc3545 !important;
  color: white;
}

.msg.success{
  background-color: #28a745 !important;
  color: white;
}
.msg.info{
  background-color: #17a2b8 !important;
  color: white;
}

.profile{
  height: 30px;
  border-radius: 20%;
  transition: 1s;
}
.profile:hover{
  transition: 1s;
  transform: scale(2)!important;
  filter: brightness(100%);
}

.floating-bottom{
  position: absolute;
  padding: 0px 0px 4.5% 0.5% !important ;
}

.collapse{
  background-color: rgba(255, 255, 255, 0.849);
}
