*{
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

.navbar-brand-image {
   width: 80px;
}

.hidnavbar {
  opacity: 0;
  transition: 1s;
}

.hidnavbar.show {
  opacity: 0.95;
  transition: 1s;
}

.intro {
    min-height:500px;
    padding-top:150px;
    background-image: url(../image/background.jpg);
  	background-attachment:fixed;
  	background-size:cover;
  	color:white;
  	text-shadow:2px 2px 10px black;
  	overflow:hidden;
    background-size:no-repeat;
    transition: 1s;
}

.about{
  opacity: 0;
  transition: 2s;
}
.about.show{
  opacity: 1;
  transition: 2s;
}

.about .img-hover{
  transition: 2s;
  overflow: hidden;
  /* max-width: 400px; */
}

.about .img-hover:hover{
  transform: scale(1.2)!important;
  filter: brightness(100%);
  transition: 2s;
}

.preview {
  opacity: 0;
  transition: 2s;
}

.preview.show {
  opacity: 1;
  transition: 2s;
}
.img-small-opacity img {
  width: 45px;
  opacity: 65%;
  overflow: hidden;
}

.hid260{
  opacity: 0;
  transition: 1s;
}

.hid260.show{
  opacity: 1;
  transition: 1s;
}

.color-custom-1{
  background-color:rgba(255, 255, 255, 0.527);
  color: black;
}
.border-custom-1{
  border: 5px 5px 5px 5px black;
}

.error-msg{
  opacity: 0;
  transition: 1s;
  height: 0;
}

.error-msg.show{
  background-color: rgba(128, 128, 128, 0.555);
  opacity: 1;
  transition: 1s;
  height: 5%;
}