*{
  margin: 0;
  padding: 0;
}

/* navbar style class */

.navbar-brand-image {
   width: 80px;
}

.navbar{
  height: 60px;
}

.navbar.navmsg{
  transition: 1s;
  margin-top: 30px;
}

/* msg style class */

.msg{
  margin-top: 0;
  opacity: 0;
  transition: 1s;
  height: 0;
}

.msg.show{
  margin-top: 60px;
  opacity: 1;
  transition: 1s;
  height: 5%;
}

.msg.short{
  margin: 0;
  transition: 1s;
  height: 5%;
}

.msg.warning{
  background-color: #ffc107 !important;
  color: white;
}

.msg.error{
  background-color: #dc3545 !important;
  color: white;
}

.msg.success{
  background-color: #28a745 !important;
  color: white;
}
.msg.info{
  background-color: #17a2b8 !important;
  color: white;
}

/* other style class */

.collapse{
  background-color: rgba(255, 255, 255, 0.849);
}

.extend, #extend{
  margin-top: 90px !important;
}

.floating-bottom{
  position: absolute;
  padding: 0px 0px 4.5% 0.5% !important ;
  width: 20px !important;
}
.img-small-opacity img {
  width: 45px;
  opacity: 65%;
  overflow: hidden;
}

.hidden{
  opacity: 0 !important;
  transition: 1s;
}

.hidden.show{
  opacity: 1 !important;
  transition: 1s;
}

.spacing{
  margin: 2px !important;
}

.float-right{
  float: right!important;
}